body {
    margin: 0px;
    padding: 5px;
    background-color: #F4F4F4;
    font-family: Verdana, Arial;
    font-size: 13px;
}

a:link {
    color: #949ABD;
    text-decoration: none;
}

a:visited {
    color: #949ABD;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    COLOR: #ff67a3;
}

fieldset {
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px;
    border: #949ABD solid 1px;
}

td.label {
    font-family: Verdana, Arial;
    font-size: 13px;
    vertical-align: center;
}

label {
    width: 17em;
    float: left;
    text-align: right;
    margin-right: 1em;
    clear: both;
    color: #949ADD;
}

legend {
    background: #949ABD;
    border: #26a solid 1px;
    padding: 1px 10px;
    color: white;
    margin-bottom: 5px;
}

input, textarea, button {
    border: #949ABD solid 1px;
}
